/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.banner img {
    width: 100%;
}

.destaques {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.produto {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    width: 300px; 
  
    
}

.produto img {
     
    max-width: 100%;
}

.servicos {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.servico {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
}

.servico img {
    max-width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}